.md-dialog {
    text-align: center;
    border-top: 5px solid $cor-soc;

    &--error {
        border-top: 5px solid $cor-error;
    }

    &-actions {
        padding-bottom: 25px;
        justify-content: center;
    }
}
